<h1>Twitter Curious</h1>
<p>Almost as good as the real thing</p>

<div class="container">
  <h2>Hello, <%= current_user.name %></h2>
  <h4>Name: <%= @twitter.user_info.name %></h4>
  <h4>Handle: <%= @twitter.user_info.user_name %></h4>
  <h4>Followers: <%=@twitter.followers.count %></h4>
  <h4>Following: <%= @twitter.following.count %></h4>
  <h4>Tweets: <%= @twitter.tweets.count %></h4>
  <%= image_tag(@twitter.user_info.profile_image_url) %>
  <%= image_tag(@twitter.user_info.profile_banner_url) %>
</div>
<% binding.pry %>

<%= form_tag tweets_path, method: :post do %>
<%= label_tag "What's Happening?" %>
<%= text_field_tag "tweet[message]", nil, maxlength: 140 %>
<%= submit_tag "Submit" %>
<% end %>

<div class="center-align container">
  <% @twitter.homepage_tweets.each do |tweet| %>
  <div class="row">
      <div class="card light-blue lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p><%= tweet.text %></p>
        </div>
        <div class="card-action">
          <%= button_to "like", tweet_path(tweet.id), method: :put %>
          <a href="#">This is a link</a>
        </div>
      </div>
  </div>
  <% end %>
</div>

<%= link_to "Logout", logout_path %>
